html {
  font-size: calc(0.65em + 1vmin);
}

.ServiceCardText {
  opacity: 0;
  transition: all 0.3s linear;
}
.ServiceCardText:hover {
  background-color: white;
  background-image: none;
  opacity: 1;
  transition: all 0.3s linear;
}
.rainbow {
	position: relative;
	z-index: 0;
	width: fit-content;
	height: fit-content;
	border-radius: 14px;
	overflow: hidden;
	padding: 6px;
  margin: auto;
  box-shadow: 0 0 12px;

}	
.rainbow::before {
  content: '';
  position: absolute;
  z-index: -2;
  left: -50%;
  top: -50%;
  width: 200%;
  height: 200%;
  background-color: #399953;
  background-repeat: no-repeat;
  background-size: 50% 50%, 50% 50%;
  background-position: 0% 0%, 0% 100%, 100% 100%, 100% 0%;
  /* background-image: linear-gradient(#399953, #399953), linear-gradient(#fbb300, #fbb300), linear-gradient(#d53e33, #d53e33), linear-gradient(#377af5, #377af5); */
  background-image: linear-gradient(to top right, rgb(255,165,15) 45%, rgb(0,128,255) 55%), linear-gradient(to top left, #651FFF 45%, rgb(255,165,15) 55%), linear-gradient(to top right, #651FFF 45%, rgb(20, 182, 101) 55%), linear-gradient(to bottom right, rgb(0,128,255) 45%,rgb(20, 182, 101) 55%);
  animation: rotate 6s linear infinite;
}
@keyframes rotate {
	100% {
		transform: rotate(1turn);
	}
}
